* {
    background-color: rgb(255, 255, 255);
}
/* Add this to your styles.css file */
input {
    caret-color: auto; 
}

textarea {
    caret-color: green; font-size: xx-large; /* or a specific color */
}
