<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <div>
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <h1 class="px-5 btn-dark">ThinkLine.</h1>
        </a>
        <a
          href="/list"
          class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none"
        >
          <h1 class="px-5 btn-dark text-body-emphasis">Blogs</h1>
        </a>
      </header>
    </div>

    <!-- HERO -->
    <div class="container px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold btn-dark text-body-emphasis">
        ThinkLine: Publish <br />
        <span class="fw-semibold">your thoughts</span>
      </h1>
      <div class="col-lg-6 mx-auto">
        <h2 class="lead fw-bold mb-4 font-monospace">write with passion....</h2>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a href="/create" class="text-decoration-none">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
              Get Started
            </button>
          </a>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh">
        <div class="px-5">
          <img
            src="/public/Untitled design.png"
            class="img-fluid border rounded-3 shadow-lg mb-4"
            alt="Example image"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
        >
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="mb-3 mb-md-0"
          >Created by
          <a
            href="https://www.linkedin.com/in/shubham-singh-23997021a/"
            target="_blank"
            style="text-decoration: none"
            rel="noopener noreferrer"
            >@ShubhamSingh</a
          ></span
        >
      </div>
    </footer>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-hV+kIeGR8tJOdVIqDjBngb49/j1K8LJZOZUJcI9pjJ1uoGpFVk5YbL8Yfo0I++pD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
